<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="main.js" defer></script>
    </head>
    <body>
        <h1>Tea Database</h1>
        <ul class="teas">
            <% for(var i = 0; i < teainfo.length; i++) {%>
                <li class="tea">
                    <img src="" alt="image">
                    <span><%= teainfo[i].Origin %></span>
                    <span><%= teainfo[i].Caffeine %></span>
                    <span><%= teainfo[i].Color %></span>
                </li>
            <% } %>
        </ul>
    </body>
</html>