
/*base box model styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
    font-family: 'Quicksand', 'sans-serif';
    font-size: 62.5%;
}

a{
    color: black;
    text-decoration: none;
}

#bg{
    object-fit: cover;
    height: 175px;
    width: 100%;
    /* z-index: -1;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0; */
}

#indexBody .hidden{
    display: none;
}


/******************************************
/* INDEX.EJS
/*******************************************/
#indexBody{
    display: flex;
    flex-direction: column;
}

#about{
    height: 145px;
    width: 100%;
    padding: 5%;
    background: #3f3f40;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    color: #FDBA74;
    font-size: 3.0rem;
}
#about p{
    color: #F8FAFC;
    font-size: 1.6rem;
    margin-top: 5px;
}

#teaTypesContainer{
    width: 100%;
    padding: 5%;
    background: #27272A;
}
#typesHeader{
    color: #FDBA74;
    font-size: 2.0rem;
    margin-bottom: 10px;
}
.buttonDiv{
    padding: 5px 10px;
    margin: 15px 0;
    border-radius: 10px;
    border: 2px solid #27272A;
}
.buttonDiv:hover{
    border: 2px solid #FED7AA;
}
.buttonDiv span{
    color: #F8FAFC;
    font-size: 4.0rem;
}

.basictea{
    padding: 5%;
    background: #FDBA74;
    display: flex;
    flex-direction: column;
}
.teaName{
    font-size: 3.5rem;
}
.teaDescription{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.tea_link{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #27272A;
}
.tea_link a{
    font-size: 2.0rem;
    color: #FDBA74;
}
#indexFooter{
    background: #3f3f40;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#indexFooter a{
    font-size: 2.0rem;
    color: #F8FAFC;
}

@media (min-width: 600px){
    html{
        font-size: 66.5%;
    }
}

@media (min-width: 1024px){
    html{
        font-size: 70%;
    }
    #about{
        height: none;
        padding: 30px 5%;
    }
    #about p{
        font-size: 2.2rem;
        width: 60%;
    }
    #teaContainer{
        display: flex;
        align-items: center;
        height: 630px;
    }
    #teaTypesContainer{
        width: 50%;
        height: 100%;
    }
    #expandedContainer{
        width: 50%;
        height: 100%;
    }
    .basictea{
        height: 100%;
        justify-content: center;
    }
}
/* @media (min-width: 1200px){
    
} */
/* #about{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background: #ac8a64;
    color: white;
    text-align: center;
    padding: 15px 18%;
}
#about h1{
    font-size: 2.5rem;
}

#about p{
    font-size: 2.0rem;
}

.cursor{
    cursor: pointer;
}

#teaTypes a{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
}

#typesHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 15px;
    color: white;
    font-style: italic;
    background: #d0ab6f;
    margin-bottom: 20px;
}

#teaTypes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d0ab6f;
    border-radius: 10px;
    border: 4px solid black;
    transition: background .15s linear;
}
#teaTypes > div{
    height: 80px;
    width: 65%;
    margin-bottom: 20px;
}
.buttonDiv:hover{
    background: #89ab3a;
}
#htmlFoot{
    height: 60px;
    background: #ac8a64;
    width: 90%;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#htmlFoot > a{
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
} */

/******************************************
/* TEAS.EJS
/*******************************************/

/* #ejsBody{
    overflow-x: hidden;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 65px;
    color: white;
    z-index: 6;
}
#header h1{
    margin-left: 30px;
}
#header span{
    margin-right: 30px;
    font-size: 2.0rem;
}
#header span a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
#header span a:hover{
    border: 1px solid white;
}

#teas{
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
}
.teaContainer{
    list-style: none;
    width: 45%;
    height: 80%;
    position: absolute;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: grey;
} */

/* newNext box before coming onto page*/
/* .newNext{
    transform: translate3d(150%,2%,0px);
    z-index: 0;
    transition: transform .5s linear, opacity .5s linear;
    -webkit-transition: transform .5s linear, opacity .5s linear;
    -moz-transition: transform .5s linear, opacity .5s linear;
    -o-transition: transform .5s linear, opacity .5s linear;
    will-change: transform;
    filter: blur(4px);
    opacity: 0;
} */

/* newNext box postion after on page */
/* .newNext::after{
    transform: translate3d(75%,2%,0px);
    opacity: .5;
} */

/* og NEXT box positioning */
/* .next{
    transform: translate3d(75%,2%,0px);
    z-index: 1;
    transition: transform .5s linear;
    -webkit-transition: transform .5s linear;
    -moz-transition: transform .5s linear;
    -o-transition: transform .5s linear;
    will-change: transform;
    filter: blur(4px);
    /* opacity: .5;
} */

/* oldPrev box after clicking button */
/* .oldPrev{
    transform: translate3d(-150%,2%,0px);
    transition: transform .5s linear, opacity .5s linear;
    -webkit-transition: transform .5s linear, opacity .5s linear;
    -moz-transition: transform .5s linear, opacity .5s linear;
    -o-transition: transform .5s linear, opacity .5s linear;
    will-change: transform;
    z-index: 0;
    filter: blur(4px);
    opacity: 0;
} */

/* positioning before moving */
/* .oldPrev::before{
    transform: translate3d(-75%,2%,0px);
    opacity: .5;
} */

/* og PREV box positioning */
/* .prev{
    transform: translate3d(-75%, 2%, 0px);
    transition: transform .5s linear;
    -webkit-transition: transform .5s linear;
    -moz-transition: transform .5s linear;
    -o-transition: transform .5s linear;
    will-change: transform;
    z-index: 1;
    filter: blur(4px);
} */

/* current positioning before */
/* .current::before{
    transform: translate3d(-75%,2%,0px);
    filter: blur(1px);
    /* opacity: .8;
} */

/* current positioning after */
/* .current::after{
    transform: translate3d(75%,2%,0px);
    filter: blur(1px);
    /*opacity: .8;
} */

/* og CURRENT box positioning */
/* .current{
    transform: translate3d(0, 0, 10px);
    transform-style: preserve-3d;
    z-index: 2;
    opacity: 1;
    transition: transform .5s linear, filter .5s linear;
    -webkit-transition: transform .5s linear, filter .5s linear;
    -moz-transition: transform .5s linear, filter .5s linear;
    -o-transition: transform .5s linear, filter .5s linear;
    will-change: transform;
} */

/* IMAGE */
/* .teaContainer img{
    max-width: 350px;
    max-height: 350px;
    border: 1px solid black;
} */

/* TYPE / ORIGIN / CAFF. */
/* .immediateInfo{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.teaContainer span{
    font-size: 2.0rem;
}
.teaContainer .bold{
    font-weight: bold;
    font-size: 2.2rem;
}
.teaContainer .name{
    font-size: 3.0rem;
    text-align: center;
}
.alt{
    margin-bottom: 15px;
    text-align: center;
}
.colorTaste{
    display: flex;
    flex-direction: column;
    padding: 15px 15%;
}


#buttonBack, #buttonNext{
    position: absolute;
    bottom: 50%;
    cursor: pointer;
    z-index: 5;
    font-size: 3.0rem;
}
#buttonNext{
    right: 0;
}

.hidden{
    display: none;
} */

/******************************************
/* RESPONSIVENESS
/*******************************************/

/* @media screen and (max-width: 880px){
    html{
        font-size: 57.5%;
    }
    #about{
        padding: 15px 3%;
    }
    .teaContainer{
        width: 55%;
    }
    .teaContainer img{
        max-width: 300px;
    }
}

@media screen and (max-width: 600px){
    #about{
        height: 100%;
    }
    .teaContainer{
        width: 70%;
        height: 75%; 
    }
    #about h1{
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 475px){
    .teaContainer{
        width: 80%;
    }
    .teaContainer img{
        max-width: 240px;
    }
    #buttonBack, #buttonNext{
        bottom: 0;
        margin: 5% 10%;
        color: white;
    }   
} */