html{
    font-family: 'Quicksand', 'sans-serif';
    font-size: 62.5%;
}

#body{
    padding: 0 5%;
}

.cursor{
    cursor: pointer;
}

#body a{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
}

#typesHeader{
    text-align: center;
    background: gray;
    width: 90%;
    margin: 30px 5% 0 5%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}

#teaTypes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 525px;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    border-radius: 10px;
    border: 1px solid black;
    transition: all .15s linear;
}
#teaTypes > div{
    height: 75%;
    width: 20%;
}
.buttonDiv:hover{
    transform: translateY(-6px);
}

#blends{
    width: 90%;
    height: 200px;
    margin: 0 5% 30px 5%;
}