html{
    font-family: 'Quicksand', 'sans-serif';
    font-size: 62.5%;
}

#bodySec{
    padding: 0 5%;
    background: #b6dae5;
    height: 100vh;
}

.cursor{
    cursor: pointer;
}

#bodySec a{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
}

#typesHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    padding: 40px;
}
/* #typesHeader h2{
    
} */
#teaTypes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccd9ae;
    border-radius: 10px;
    border: 4px solid black;
    transition: all .15s linear;
}
#teaTypes > div{
    height: 100%;
    width: 17%;
}
.buttonDiv:hover{
    transform: translateY(-6px);
}

/* #blends{
    width: 90%;
    height: 200px;
    margin: 10px 5% 0 5%;
} */

/******************************************
/* EJS
/*******************************************/
#ejsBody{
    overflow-x: hidden;
    background-image: url('imgs/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    
}

#header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#header span{
    font-size: 2.0rem;
}
#header span a{
    text-decoration: none;
    color: white;
}


#header, #footer{
    height: 75px;
    color: white;
}

#footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}


#teas{
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.teaContainer{
    list-style: none;
    width: 45%;
    height: 700px;
    position: absolute;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: grey;
}

/* newNext box before coming onto page*/
.newNext{
    transform: translate3d(150%,2%,0px);
    z-index: 0;
    transition: transform .5s linear;
    filter: blur(4px);
}
.newNext::before{
    transform: translate3d(75%,2%,0px)
}

/* newNext box postion after on page */
.newNext::after{
    transform: translate3d(75%,2%,0px);
}

/* og NEXT box positioning */
.next{
    transform: translate3d(75%,2%,0px);
    z-index: 1;
    transition: transform .5s linear;
    filter: blur(4px);
}

/* oldPrev box after clicking button */
.oldPrev{
    transform: translate3d(-150%,2%,0px);
    transition: transform .5s linear;
    z-index: 0;
    filter: blur(4px);
}

/* positioning before moving */
.oldPrev::before{
    transform: translate3d(-75%,2%,0px);
}

/* og PREV box positioning */
.prev{
    transform: translate3d(-75%, 2%, 0px);
    transition: transform .5s linear;
    z-index: 1;
    filter: blur(4px);
}

/* current positioning before */
.current::before{
    transform: translate3d(-75%,2%,0px);
    filter: blur(1px);
}

/* current positioning after */
.current::after{
    transform: translate3d(75%,2%,0px);
    filter: blur(1px);
    
}

/* og CURRENT box positioning */
.current{
    transform: translate3d(0, 0, 10px);
    transform-style: preserve-3d;
    z-index: 2;
    transition: transform .5s linear, filter .5s linear;
}

/* IMAGE */
.teaContainer img{
    max-width: 400px;
    max-height: 400px;
    border: 1px solid black;
}

.immediateInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 35px 0;
}
.teaContainer span{
    font-size: 2.0rem;
}
.teaContainer .bold{
    font-weight: bold;
    font-size: 2.2rem;
}
.teaContainer .name{
    margin-bottom: 15px;
    font-size: 3.0rem;
}
.names, .teaOrigin{
    display: flex;
    flex-direction: column;
}
.colorTaste{
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}


#buttonBack, #buttonNext{
    position: absolute;
    bottom: 50%;
    cursor: pointer;
    z-index: 5;
    font-size: 3.0rem;
}

#buttonBack{
    bottom: 50%;
}
#buttonNext{
    right: 0;
}

.hidden{
    display: none;
}