html{
    font-family: 'Quicksand', 'sans-serif';
    font-size: 62.5%;
}

/******************************************
/* HTML
/*******************************************/

#about{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background: #ac8a64;
    color: white;
    text-align: center;
    padding: 15px 18%;
}
#about h1{
    font-size: 2.5rem;
}

#about p{
    font-size: 2.0rem;
}

.cursor{
    cursor: pointer;
}

#teaTypes a{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
}

#typesHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 15px;
    color: white;
    font-style: italic;
    background: #d0ab6f;
    margin-bottom: 20px;
}

#teaTypes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d0ab6f;
    border-radius: 10px;
    border: 4px solid black;
    transition: background .15s linear;
}
#teaTypes > div{
    height: 80px;
    width: 65%;
    margin-bottom: 15px;
}
.buttonDiv:hover{
    background: #89ab3a;
}
#htmlFoot{
    height: 60px;
    background: #ac8a64;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#htmlFoot > a{
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
}

/******************************************
/* EJS
/*******************************************/

#ejsBody, #htmlBody{
    overflow-x: hidden;
    background-image: url('imgs/bg.jpg');
    background-size: 115%;
    background-repeat: no-repeat;

}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 65px;
    color: white;
}
#header h1{
    margin-left: 30px;
}
#header span{
    margin-right: 30px;
    font-size: 2.0rem;
}
#header span a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
#header span a:hover{
    border: 1px solid white;
}

#teas{
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
}
.teaContainer{
    list-style: none;
    width: 45%;
    height: 80%;
    position: absolute;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: grey;
}

/* newNext box before coming onto page*/
.newNext{
    transform: translate3d(150%,2%,0px);
    z-index: 0;
    transition: transform .5s linear, opacity .5s linear;
    -webkit-transition: transform .5s linear, opacity .5s linear;
    -moz-transition: transform .5s linear, opacity .5s linear;
    -o-transition: transform .5s linear, opacity .5s linear;
    will-change: transform;
    filter: blur(4px);
    opacity: 0;
}

/* newNext box postion after on page */
.newNext::after{
    transform: translate3d(75%,2%,0px);
    opacity: .5;
}

/* og NEXT box positioning */
.next{
    transform: translate3d(75%,2%,0px);
    z-index: 1;
    transition: transform .5s linear;
    -webkit-transition: transform .5s linear;
    -moz-transition: transform .5s linear;
    -o-transition: transform .5s linear;
    will-change: transform;
    filter: blur(4px);
    /* opacity: .5; */
}

/* oldPrev box after clicking button */
.oldPrev{
    transform: translate3d(-150%,2%,0px);
    transition: transform .5s linear, opacity .5s linear;
    -webkit-transition: transform .5s linear, opacity .5s linear;
    -moz-transition: transform .5s linear, opacity .5s linear;
    -o-transition: transform .5s linear, opacity .5s linear;
    will-change: transform;
    z-index: 0;
    filter: blur(4px);
    opacity: 0;
}

/* positioning before moving */
.oldPrev::before{
    transform: translate3d(-75%,2%,0px);
    opacity: .5;
}

/* og PREV box positioning */
.prev{
    transform: translate3d(-75%, 2%, 0px);
    transition: transform .5s linear;
    -webkit-transition: transform .5s linear;
    -moz-transition: transform .5s linear;
    -o-transition: transform .5s linear;
    will-change: transform;
    z-index: 1;
    filter: blur(4px);
}

/* current positioning before */
.current::before{
    transform: translate3d(-75%,2%,0px);
    filter: blur(1px);
    /* opacity: .8; */
}

/* current positioning after */
.current::after{
    transform: translate3d(75%,2%,0px);
    filter: blur(1px);
    /* opacity: .8; */
}

/* og CURRENT box positioning */
.current{
    transform: translate3d(0, 0, 10px);
    transform-style: preserve-3d;
    z-index: 2;
    opacity: 1;
    transition: transform .5s linear, filter .5s linear;
    -webkit-transition: transform .5s linear, filter .5s linear;
    -moz-transition: transform .5s linear, filter .5s linear;
    -o-transition: transform .5s linear, filter .5s linear;
    will-change: transform;
}

/* IMAGE */
.teaContainer img{
    max-width: 300px;
    max-height: 350px;
    border: 1px solid black;
}

/* TYPE / ORIGIN / CAFF. */
.immediateInfo{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.teaContainer span{
    font-size: 2.0rem;
}
.teaContainer .bold{
    font-weight: bold;
    font-size: 2.2rem;
}
.teaContainer .name{
    font-size: 3.0rem;
}
.alt{
    margin-bottom: 15px;
}
.colorTaste{
    display: flex;
    flex-direction: column;
    padding: 15px 15%;
}


#buttonBack, #buttonNext{
    position: absolute;
    bottom: 50%;
    cursor: pointer;
    z-index: 5;
    font-size: 3.0rem;
}

#buttonBack{
    bottom: 50%;
}
#buttonNext{
    right: 0;
}

.hidden{
    display: none;
}